body{
    font-family: 'Roboto', sans-serif;
}

header{
    height: 50px;
    background-color: #2c3f51;
}

.container{
    width: ;
}

.jumbotron{
    height: 400px;
    background-color: #19bc9d;
    display: flex;
    justify-content: center;
}

.jumbotron .col-4{
    text-align: center;
    color: white;
}